[Unit]
  Description=Cronjob running @network timer
  Wants=network-online.target
  After=network.target network-online.target

[Service]
  Type=oneshot
  ExecStart=/etc/rc.cron network
  
[Install]
  WantedBy=multi-user.target
